/* HomePage.module.css */
.HomePage {
  position: relative;

  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1em 1.5em;
  background-color: white;
  text-shadow: 1px 1px 3px rgba(65, 65, 70, 0.5);
}
.BackgroundFoto img {
  object-fit: cover;
  position: fixed;
  top: 0; /* Aligne en haut */
  left: 0; /* Aligne à gauche */
  z-index: -1;
  width: 100vw;
  height: 100vh; /* MODIFIÉ: Assure que l'image couvre toute la hauteur de la fenêtre */
}

.HomePageContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le <p> (et autres futurs éléments) horizontalement dans ce bloc */
  justify-content: center; /* Centre le <p> verticalement dans ce bloc. Si vous voulez que le <p> soit en haut de ce bloc, changez pour flex-start */
  margin-top: 5px; /* Crée un espace de 10px au-dessus de ce bloc */
  position: relative; /* S'assurer que le contenu est au-dessus de la vidéo */
  z-index: 1; /* S'assurer que le contenu est au-dessus de la vidéo */
}

.HomePageContentA p {
  font-size: 40px;

  color: rgb(23, 71, 127);
  font-family: "Poppins-Medium", Arial, sans-serif;

  margin-top: 1px;
  position: relative;
  z-index: 1;
}
.Logo {
  position: relative;
  z-index: 1;
}
.Logo img {
  display: block;
  /* width: 15%; */
  width: 100px;
  height: auto;
  visibility: visible;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  /* border-radius: 5px; */
  border-radius: 5px;
  box-shadow: 5px 5px 10px #19280199;
}

.LogoCiC {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex; /* Active Flexbox */
  align-items: center; /* Aligne verticalement l'image et le lien au centre */
  justify-content: center;
}

.LogoCic img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #19280199;
  border-radius: 4px;
}

.CiCpresenta {
  display: flex;
  align-items: center; /* Aligne verticalement les éléments au centre */
  padding: 1rem;
  text-align: center;
}

.CiCpresenta p {
  font-size: 22px;
  color: rgb(23, 71, 127);
  font-family: "Poppins-Medium", Arial, sans-serif;

  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.CiCpresenta img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #19280199;
  border-radius: 4px;
}
.Credits {
  display: flex;
  align-items: center; /* Aligne verticalement les éléments au centre */
  justify-content: center; /* Centre horizontalement */
  padding: 1rem;
  text-align: center;
}
.Credits p {
  font-size: 20px;
  color: rgb(23, 71, 127);
  font-family: "Poppins-Medium", Arial, sans-serif;

  position: relative;
  z-index: 1;
}
.HomePageContentB {
  position: relative;
  z-index: 1;
}

.FotoGenerale {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 1200px; /* Garder une largeur maximale pour les grands écrans */
  height: auto; /* Laisser la hauteur s'ajuster pour garder le ratio de l'image */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  opacity: 1;
}

.FotoGenerale img {
  display: block;
  width: 100%;
  height: auto;
  visibility: visible;
  opacity: 1;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #272727;
}

.HomePageContentB p {
  text-align: justify;
  box-sizing: border-box;
  hyphens: auto;
  width: 90%;
  font-size: 20px;
  color: rgb(23, 71, 127);
  font-family: "Poppins-Medium", Arial, sans-serif;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.socialRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* espace entre le texte et les icônes */
  flex-wrap: wrap; /* optionnel si tu veux que ça passe à la ligne sur petits écrans */
}

.socialRow p {
  margin: 0;
  font-family: "Poppins-Medium", Arial, sans-serif;
  font-size: 20px;

  color: rgb(23, 71, 127);
}

.iconsContainer {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.iconsContainer > a,
.iconsContainer > span {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #19280199;
  border-radius: 4px;
  transition: transform 0.2s ease;
  margin-bottom: 0;
}

.icon:hover {
  transform: scale(1.1);
}
.copyright {
  margin-top: 20px;
  font-size: 12px;
  color: rgb(23, 71, 127);

  font-family: "Poppins-Italic", Arial, sans-serif;
}
/* --- Media Queries --- */

@media (max-width: 1224px) {
  .HomePageContentA p {
    font-size: 30px;
  }
  .CiCpresenta img {
    width: 45px;
    height: 45px;
  }
  .Logo img {
    width: 10%;
    height: auto;
  }
  .Credits p {
    font-size: 18px;
  }
  .CiCpresenta p {
    font-size: 18px;
  }
  .HomePageContentB p {
    font-size: 18px;
  }
  .socialRow p {
    font-size: 18px;
  }
  .icon {
    width: 27px;
    height: 27px;
  }
  .copyright {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .HomePageContentA p {
    font-size: 27px;
  }
  .CiCpresenta img {
    width: 35px;
    height: 35px;
  }
  .Logo img {
    width: 10%;
    height: auto;
  }
  .Credits p {
    font-size: 16px;
  }
  .CiCpresenta p {
    font-size: 16px;
  }
  .HomePageContentB p {
    font-size: 16px;
  }
  .socialRow p {
    font-size: 16px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .copyright {
    font-size: 10px;
  }
}

@media (max-width: 509px) {
  .HomePageContentA p {
    font-size: 25px;
  }
  .Credits p {
    font-size: 14px;
  }
  .CiCpresenta img {
    width: 30px;
    height: 30px;
  }
  .Logo img {
    width: 10%;
    height: auto;
  }
  .CiCpresenta p {
    font-size: 14px;
  }
  .HomePageContentB p {
    font-size: 14px;
  }
  .socialRow p {
    font-size: 14px;
  }
  .icon {
    width: 23px;
    height: 23px;
  }
  .copyright {
    font-size: 10px;
  }
}
