.LinksPage {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.BackgroundFoto img {
  object-fit: cover;
  position: fixed;
  top: 0; /* Aligne en haut */
  left: 0; /* Aligne à gauche */
  z-index: -1;
  width: 100vw;
  height: 100vh; /* MODIFIÉ: Assure que l'image couvre toute la hauteur de la fenêtre */
  /* filter: brightness(0.9); */
}

.LinksPageTitle {
  position: relative;
  z-index: 1;
  width: 100%; /* Sera ajusté par les media queries */
  box-sizing: border-box;
}

.LinksPageTitle p {
  text-align: center;
  font-size: 35px;
  color: #bbf7fd;
  text-shadow: 2px 2px 2px #000;
  font-family: "Poppins-Medium", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.Logo {
  position: relative;
  z-index: 1;
}

.Logo img {
  display: block;
  width: 13%;
  border-radius: 4px;
  height: auto;
  visibility: visible;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 5px 5px 10px #19280199;
}

.liensite a {
  font-size: 20px;
  color: #e9f2fd;
  font-family: "Poppins-Medium", Arial, sans-serif;
  text-shadow: 2px 2px 2px #000;
}

.liensite a:hover {
  color: #bbf7fd;
  cursor: pointer;
}

.liensite a p {
  margin: 0; /* Réinitialise les marges par défaut du paragraphe pour un meilleur alignement vertical. */
}
.LogoCiC {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex; /* Active Flexbox */
  align-items: center; /* Aligne verticalement l'image et le lien au centre */
  justify-content: center;
}

.LogoCiC img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px #19280199;
  border-radius: 4px;
}

@media (max-width: 1224px) {
  .LinksPageTitle p {
    font-size: 30px;
  }
  .LogoCiC img {
    width: 45px;
    height: 45px;
  }

  .liensite a {
    font-size: 20px;
  }
}
@media (max-width: 509px) {
  .LinksPageTitle p {
    font-size: 25px;
  }
  .liensite a {
    font-size: 12px;
  }
  .LogoCiC img {
    width: 30px;
    height: 30px;
  }
}
