.navbar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start; /* Déplacer les éléments vers la gauche */
  align-items: center;
  padding: 1em 1em;
  background: rgba(245, 245, 245, 0.443);
}

.navbarLinks {
  font-family: "JosefinSans-Bold", Arial, sans-serif;
  list-style: none;
  display: flex; /* Utilisation de flexbox pour l'alignement */
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 90%;
  justify-content: space-around;
}

.navbarLinks li {
  display: inline;
}

.navbarLinks a {
  text-decoration: none;
  color: #bcfee8;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbarLinks a:hover {
  color: #252927;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: #bcfee8;
  font-size: 1.9rem; /* Taille de l'icône hamburger */
  cursor: pointer;
  padding: 0.25em 0.5em;
  line-height: 1;
  z-index: 1100;
}
.menuToggle:hover {
  color: #252927;
}
.navMenu li {
  margin: 0 1em; /* Espacement entre les éléments de la liste */
}

@media (max-width: 1224px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menuToggle {
    display: block;
  }

  .navbarLinks {
    display: none; /* Caché par défaut sur mobile/tablette */
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Pour occuper toute la largeur disponible */
    align-items: center; /* Centrer les liens textuels */
    padding: 1em 0; /* Espacement vertical quand le menu est ouvert */
  }
  .navbarLinks a {
    font-size: 1.6rem;
    color: #bcfee8;
  }
  .navbarLinks.open {
    display: flex; /* Afficher les liens lorsque la classe .open est présente */
  }
  @media (max-width: 768px) {
    .navbar {
      padding: 0.5em 1em;
    }

    .navbarLinks a {
      font-size: 1.6rem;
      color: #bcfee8;
    }
    .navbarLinks a:hover {
      color: #252927; /* Exemple de changement de couleur au survol */
    }
  }
}
@media (max-width: 509px) {
  .navbar {
    padding: 0.5em 1em; /* Réduire le padding sur les très petits écrans */
  }

  .navbarLinks a {
    color: #bcfee8; /* Réduire le padding sur les petits écrans */
    font-size: 1.6rem;
  }
  .navbarLinks a:hover {
    color: #252927; /* Exemple de changement de couleur au survol */
  }
}
