.StampaPage {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.BackgroundFoto img {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh; /* MODIFIÉ: Assure que l'image couvre toute la hauteur de la fenêtre */
  /* filter: brightness(0.9); */
}

.StampaPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.StampaTitle p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  color: #bcfee8;
  font-family: "Poppins-Medium", Arial, sans-serif;
  text-shadow: 2px 2px 2px #000;
  font-size: 35px;
}

.Logo {
  position: relative;
  z-index: 1;
}

.Logo img {
  display: block;
  width: 13%;
  border-radius: 4px;
  height: auto;
  visibility: visible;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 5px 5px 10px #19280199;
}

@media (max-width: 1224px) {
  .StampaTitle p {
    font-size: 30px;
  }
}
@media (max-width: 509px) {
  .StampaTitle p {
    font-size: 25px;
  }
}
