/* /Users/fredericguerin/Desktop/aqua/src/pages/HomePageFile/HomePage.module.css */
.ProgrammaPage {
  background-color: rgb(32, 29, 3);
  min-height: 100vh; /* Prend au moins toute la hauteur de la fenêtre */
  width: 100%; /* Prend toute la largeur disponible */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les enfants horizontalement */
  justify-content: flex-start; /* Aligne les enfants (HomePageContent) en haut */
}
.Logo img {
  display: block;
  width: 10%;
  height: auto;
  visibility: visible;
  opacity: 1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.ProgrammaPageContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le <p> (et autres futurs éléments) horizontalement dans ce bloc */
  justify-content: center; /* Centre le <p> verticalement dans ce bloc. Si vous voulez que le <p> soit en haut de ce bloc, changez pour flex-start */
  margin-top: 20px; /* Crée un espace de 10px au-dessus de ce bloc */
  /* text-align: center; /* Décommentez si vous voulez que le texte du paragraphe soit centré */
}

.ProgrammaPageContentA p {
  font-size: 40px;
  color: whitesmoke;
  /* font-family: "source-sans-pro.regular", Arial, sans-serif; */
  font-family: "JosefinSans-Thinitalic", Arial, sans-serif;
  margin-bottom: 2px;
}
.ProgrammaPageContentB p {
  font-size: 20px;
  color: whitesmoke;
  /* font-family: "source-sans-pro.regular", Arial, sans-serif; */
  /* font-family: "JosefinSans-Thin", Arial, sans-serif; */
  font-family: "Poppins-Thin", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 1224px) {
  .ProgrammaPageContentA p {
    font-size: 30px;
  }
  .ProgrammaPageContentB p {
    font-size: 16px;
  }
}
@media (max-width: 509px) {
  .ProgrammaPageContentA p {
    font-size: 25px;
  }
  .ProgrammaPageContentB p {
    font-size: 12px;
  }
}
